@font-face {
  font-family: 'NeuePower';
  src: url('/fonts/NeuePower-Ultra.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QZTeletype';
  src: url('/fonts/QZ-Teletype.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
